*{
    font-family: 'Open Sans', sans-serif;
}

.container{
    display: flex;
    margin: 20vh auto;
    flex-direction: row;
    width: 60%;
    
}

@media (max-width:800px) {
    .container{
        flex-direction: column;
    }
}

.card{
    padding: 30px;
}

.left-card{
    background: orange;
    border-radius: 10px 0 0 10px;
}

.middle-card{
    background: lightblue;
    border-radius: 0 !important;
}

.right-card{
    background: green;
    border-radius: 0 10px 10px 0;
}

.card-header, .card-body{
    margin: 1em;
}

.card-footer{
    margin-inline: 1rem;
    padding-top: 2rem;
}

.card-title{
    text-transform: uppercase;
    color: white;
}

.card-content{
    color: white;
}

.LearnMore{
    background: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
    background: white;
}

.btn-left{
    color: orange;
}

.btn-left:hover{
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    background: orange;
}

.btn-middle{
    color: lightblue;
}

.btn-middle:hover{
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    background: lightblue;
}

.btn-right{
    color: green;
}

.btn-right:hover{
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    background: green;
}